.block {
    position: relative;
    width: 992px;
    height: 562px;
}
h1 {
    position: absolute;
    left: 41%;
    top: 9%;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.sep {
    position: absolute;
    width: 144px;
    left: 41.5%;
    top: 24%;

    border: 1px solid #EC7979;
}
h5 {
    position: absolute;
    left: 32%;
    top: 27%;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: #86878B;
}
.frame {
    position: relative;
    width: 440px;
    height: 30px;
    top: 45%;
    left: 2.5%;

    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: gray;
    border-bottom: 1px solid gray;
    margin: 45px 0;
    filter: brightness(125%);
}
.mes {
    position: absolute;
    width: 440px;
    height: 182px;
    left: 50%;
    top: 45%;

    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: gray;
    border-bottom: 1px solid gray;
    filter: brightness(125%);
}
button {
    position: absolute;
    width: 318px;
    height: 58px;
    top: 85%;
    left: 32.5%;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    
    color: white;
    background: #EC7979;
    border: none;
}
footer {
    position: relative;
    width: 1024px;
    height: 164px;
    background: black;
}
table {
    position: absolute;
    left: 21.5%;
    top: 20%;
}
th {
    width: 75px;
}
.fot {
    position: absolute;
    top: 60%;
    left: 40%;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: rgba(141, 138, 138, 0.5);
}
.circ {
    position: absolute;
    left: 55.55%;
    top: 29.8%;
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background: rgb(199, 196, 196);
}
.circ2 {
    position: absolute;
    left: 69.95%;
    top: 37.5%;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background: rgb(199, 196, 196);
}