.block {
    width: 100%;
    height: 650px;
    display: flex;
}
.block h3 {
    margin: 70px 0 0 100px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.145em;
    color: #C72535;
    opacity: 0.6;
}
h3:hover {
    text-decoration: underline;
}
.block .h1 {
    margin: 10px 0 0 100px;
    width: 575px;
    height: 220px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    font-size: 61px;
}
.h1:hover {
    text-decoration: underline;
}
.h1:hover span {
    text-decoration: underline;
}
span {
    color: #247CC0;
    background: rgb(228, 235, 245);
}
.block .h3 {
    margin: 30px 0 0 100px;
    width: 515px;
    height: 54px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 20px;
    opacity: 0.6;
}
.h3:hover {
    text-decoration: underline;
}
.section {
    margin: 30px 0 0 100px;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shpnow {
    width: 151px;
    height: 58px;
    font-family: 'Hind Siliguri';
    font-weight: 600;
    font-size: 16px;
    color: white;
    background: #247CC0;
    border: none;
}
.shpnow:hover {
    filter: brightness(125%);
}
.shpnow:active {
    filter: brightness(75%);
}
h2 {
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 20px;
}
h2:hover {
    text-decoration: underline;
}
h5 {
    font-family: 'Hind Siliguri';
    font-weight: 300;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #030D15;
    opacity: 0.5;
}
img {
    margin: 0 0 0 20px;
}
a {
    color: white;
    text-decoration: none;
}