section {
    position: relative;
    width: 100%;
    height: 870px;
    margin-top: 46px;
    display: flex;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 27%, #F4F9FC 27%);
}
.desc {
    margin: 120px 0 0 136px;
}
section .desc h3 {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #C72535;
    opacity: 0.6;
}
section .desc h1 {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    font-size: 44px;
    margin: 0;
}
section .desc div {
    width: 476px;
    margin-top: 115px;
}
section .desc h5 {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.6;
}
.ul1 {
    margin-top: 40px;
    position: relative;
}
.ul1 li {
    width: 375px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 40px;
    list-style: none;
}
.ul1 li::before {
    content: url('./Images/Group\ 23.png');
    position: absolute;
    left: 0;
}
img {
    position: relative;
    z-index: 1;
}
section img:first-child {
    position: absolute;
    margin: 160px 0 0 35px;
}
@media screen and (max-width: 1024px) {
    body {
        width: 100%;
    }
    section {
        flex-direction: column;
        margin-top: 350px;
    }
    section .woman {
        width: 650px;
    }
}